
*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    margin: 0;
    padding: 0;

    text-transform: uppercase;

    color: #000;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.website-wrapper {
    overflow: hidden;

    width: 1200px;
    margin: 0 auto;

    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
}

.content-wrapper {
    min-height: calc(100vh - 120px);
}

/* ------------------------------*/
/* Header navigation             */
/* ------------------------------*/
.site-nav ul {
    line-height: 56px;

    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    justify-content: center;
}

.nav-item {
    width: 300px;
}

.nav-item1 {
    padding-left: 71px;
}

.nav-item2 {
    padding-left: 12px;
}

.nav-item3 {
    padding-right: 17px;
}
.nav-item4 {
    padding-right: 72px;
}

.justify-left {
    text-align: left;
}

.justify-right {
    text-align: right;
}

.site-nav a {
    color: #000;
}

.site-nav a:hover {
    color: #81b3d2;
}

.site-nav a:active {
    color: rgba(0,0,0,.3);
}
.site-nav-selected {
    color: #766357;
}

.top-logo {
    position: absolute;
    top: 0;
    left: 50%;

    margin-left: -69px;
}

.page-content h1 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 500px;
    margin: 0 auto;
    padding-top: 60px;

    text-align: center;
}

/* ------------------------------*/
/* Welcome screen                */
/* ------------------------------*/
.welcome-screen {
    width: 1200px;
    height: 508px;
    margin: 0 auto;

    background-color: #90c0d8;
    background-image: url("../img/welcome-polygon.svg"), url("../img/welcome-background.jpg");
    background-repeat: no-repeat;
    background-position: bottom, 100%;
}
.welcome-screen-content {
    padding: 76px 0 0 0;

    text-align: center;
}
.welcome-screen-content img {
    width: 458px;
    height: 352px;
}

/* ------------------------------*/
/* Reasons to visit              */
/* ------------------------------*/
.reasons-to-visit {
    position: relative;
    z-index: 2;

    margin: 0;
    padding: 0;
}

.reason-text {
    width: 400px;
    min-height: 256px;
    /*padding-bottom: 25px;*/

    text-align: center;
}

.reasons-to-visit h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    width: 500px;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 51px;

    text-align: center;

    color: #333;
}

.reasons-to-visit ul {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
}

.reasons-to-visit h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;

    width: 151px;
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 24px;
}

.reasons-to-visit-bullet {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    margin: 0 auto;
    padding-bottom: 20px;
}

.reasons-to-visit-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    max-width: 305px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.reasons-to-visit-description2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    max-width: 261px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.reason-image-right,
.reason-image-left {
    display: flex;

    color: #fff;
    background-color: #81b3d2;
}

.reason-no-image {
    color: #333;
    background-color: #eee;
}

/* ------------------------------*/
/* Features                      */
/* ------------------------------*/
.features {
    position: relative;
    z-index: 2;

    padding-top: 60px;
}

.features-souvenirs-img {
    margin-top: -5px;
}

.features ul {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.features li {
    display: flex;
    flex-direction: column;

    width: 400px;

    text-align: center;

    align-items: center;
}

.features h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;

    margin-top: 30px;
    margin-bottom: 25px;
    padding: 0;

    color: #000;
}

.features p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    width: 285px;
    margin-bottom: 80px;

    color: #333;
}

.features img {
    order: -1;
}

/* ------------------------------*/
/* Booking CTA                   */
/* ------------------------------*/
.booking-CTA {
    position: relative;

    text-align: center;
}

.bg-overlay {
    position: relative;
    z-index: 2;

    background-color: #fff;
}

.booking-CTA-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    width: 500px;
    margin: 0 auto;
    padding-top: 49px;
}

.booking-CTA-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    width: 450px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 47px;
}

.booking-CTA-button {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    position: relative;
    z-index: 2;

    width: 568px;
    height: 86px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #766357;
}

.booking-CTA-button:hover {
    background-color: #604e43;
}

.booking-CTA-button:active {
    color: rgba(255,255,255,.3);
    background-color: #503e33;
}

/* ------------------------------*/
/* Map                           */
/* ------------------------------*/
.google-map {
    width: 1200px;
    height: 593px;

    background: #cce4b2 url("../img/map-fake.jpg") no-repeat;
}

/* ------------------------------*/
/* Footer                        */
/* ------------------------------*/
.footer-wrapper {
    position: relative;

    flex: 0 0 auto;
}

.main-footer {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: flex;

    height: 120px;
    margin-left: -600px;

    background-color: rgba(255,255,255,.9);
}

.inner-footer {
    display: flex;

    height: 120px;
}

.sedona-news-link {
    display: flex;
    flex-direction: column;

    width: 400px;

    justify-content: center;
}

.sedona-news-link a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    text-align: center;

    color: #000;
}

.sedona-news-link a:hover {
    color: #81b3d2;
}

.sedona-news-link a:active {
    color: rgba(0,0,0,.3);
}

.social-buttons {
    display: flex;
    flex-direction: column;

    width: 400px;

    justify-content: center;
}

.social-buttons ul {
    display: flex;

    width: 150px;
    margin: 0 auto;
    padding: 0;

    list-style: none;

    justify-content: space-between;
}

.social-buttons a {
    display: flex;

    width: 46px;
    height: 46px;

    background-color: #81b3d2;

    fill: #fff;
    justify-content: center;
    align-items: center;
}

.social-buttons a:hover {
    background-color: #669ec0;

    fill: #fff;
}

.social-buttons a:active {
    background-color: #5496bd;

    fill: rgba(255,255,255,.3);
}

.developer-link span {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.developer-link {
    display: flex;

    width: 400px;
    margin: 0;

    justify-content: center;
    align-items: center;
}

.vertical-align {
    padding-right: 9px;
}

.developer-link a {
    padding-top: 8px;

    fill: #000;
}

.developer-link a:hover {
    fill: #81b3d2;
}

.developer-link a:active {
    fill: #bdbbbc;
}

/* ------------------------------*/
/* Booking Form                  */
/* ------------------------------*/
@keyframes booking-form-show {
    0% {
        transform: translateY(-400px);
    }
    100% {
        transform: translateY(0);
    }
}

.booking-form {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;

    display: none;

    width: 568px;
    height: 395px;
    margin-bottom: -395px;
    margin-left: -284px;
    padding: 55px;

    text-align: left;

    background-color: #fff;
}

.form-show {
    display: block;

    animation-name: booking-form-show;
    animation-duration: .5s;
}

.arrival-date-input,
.departure-date-input {
    display: flex;

    padding-bottom: 29px;

    justify-content: space-between;
    align-items: center;
    position: relative;
}

.arrival-date-input input,
.departure-date-input input {
    padding-left: 10px;
}

.arrival-date-input button,
.departure-date-input button {
    position: absolute;
    background-image: url("../img/calendar.svg");
    background-color: transparent;
    width: 21px;
    height: 22px;
    border: none;
    margin: 0;
    padding: 0;
    top: 9px;
    right: 9px;
    cursor: pointer;

}
.arrival-date-input button:hover,
.departure-date-input button:hover {
    background-image: url("../img/calendar-hover.svg");
}

.arrival-date-input button:active,
.departure-date-input button:active {
    background-image: url("../img/calendar-click.svg");
}

.departure-date-input {
    display: flex;

    padding-bottom: 30px;

    justify-content: space-between;
    align-items: center;
}

.adults-input {
    display: flex;

    width: 229px;

    justify-content: space-between;
    align-items: center;
}

.adults-input-controls {
    display: flex;

    padding-right: 3px;
}

.adults-input-controls input,
.children-input-controls input {
    text-align: center;
}

.children-input-description {
    padding-left: 50px;
}

.children-input-controls {
    display: flex;
}

.children-input {
    display: flex;

    width: 229px;

    justify-content: space-between;
    align-items: center;
}

.count-input {
    display: flex;

    padding-bottom: 54px;

    align-items: center;
}

.booking-form label {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

.booking-form input {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    height: 38px;

    text-transform: uppercase;

    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
}

.booking-form input:hover {
    border-color: #ebebeb;
    background-color: #ebebeb;
}

.booking-form input:focus {
    width: 346px;
    height: 38px;

    border: 2px solid #e5e5e5;
    outline: none;
    background-color: #fff;
}

.num-sub,
.num-add
{
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;

    width: 38px;
    height: 38px;

    color: rgba(0,0,0,.3);
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.num-sub:hover,
.num-add:hover {
    color: #000;
}

.num-sub:active,
.num-add:active {
    color: #81b3d2;
}

.booking-form-find {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 458px;
    height: 58px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #81b3d2;
}

.booking-form-find:hover {
    background-color: #669ec0;
}

.booking-form-find:active {
    color: rgba(255,255,255,.3);
    background-color: #5496bd;
}

.booking-form-find {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    width: 458px;
    height: 58px;

    text-transform: uppercase;

    color: #fff;
    background-color: #81b3d2;
}

.booking-form input[type=text] {
    width: 346px;
}

.booking-form input[type=text]:focus {
    width: 346px;
}

.booking-form input[type=number] {
    width: 38px;
    -moz-appearance: textfield;
}

.booking-form input[type=number]:focus {
    width: 38px;
}

.booking-form input[type=number]::-webkit-inner-spin-button {
    display: none;
}

/* ------------------------------*/
/* Booking Filter Form           */
/* ------------------------------*/
.booking-filter-form form {
    display: flex;

    height: 217px;
    padding: 27px 72px;

    color: #fff;
    background: #487890 url("../img/filter-background.jpg") no-repeat;

    justify-content: space-between;
}

.filter-wrapper
{
    display: flex;
}

.booking-filter-form {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.booking-filter-form h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    margin: 0;
    padding-bottom: 24px;
}

.filter-range {
    width: 318px;
}

.filter-range-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;

    margin-bottom: 9px;
}

.price-controls {
    font-size: 0;

    position: relative;

    width: 318px;
    height: 36px;
    margin-bottom: 20px;

    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    content: "";
    transform: translate(-50%, -50%);

    background: #fff;
}

.price-controls label {
    font-size: 14px;
    line-height: 21px;

    display: inline-block;
    vertical-align: top;

    width: 150px;
    padding-top: 5px;

    cursor: pointer;
}

.price-controls .min-price {
    padding-left: 65px;
}

.min-price input::-webkit-inner-spin-button,
.max-price input::-webkit-inner-spin-button {
    display: none;
}

.price-controls .max-price {
    padding-left: 62px;
}

.price-controls input {
    font: inherit;

    width: 50px;
    margin: 0;

    color: inherit;
    border: none;
    background: none;
}

.range-controls {
    position: relative;

    box-sizing: content-box;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
    position: absolute;
    left: 10px;

    width: 255px;
    height: 2px;

    background: #fff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 255px;
}

.btn-transparent {
    font-size: 14px;
    line-height: 21px;

    display: block;

    margin: 0 0 0 85px;
    padding: 6px 33px 6px 35px;

    cursor: pointer;
    text-transform: uppercase;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
}

.btn-transparent:hover {
    color: #000;
    background: #fff;
}

.filter-col1,
.filter-col2 {
    width: 255px;
}

.checkbox-label {
    position: relative;

    display: block;

    padding-bottom: 25px;
    padding-left: 40px;

    cursor: pointer;
}

.checkbox-label input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 23px;
    margin-right: 13px;

    vertical-align: middle;

    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.checkbox-label input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 23px;
    margin-right: 13px;

    vertical-align: middle;

    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.checkbox-label input[type="checkbox"]:disabled + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 23px;
    margin-right: 13px;

    vertical-align: middle;

    background-image: url("../img/checkbox-off-gray.svg");
    background-repeat: no-repeat;
}

.checkbox-label input[type="checkbox"]:disabled:checked + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 23px;
    margin-right: 13px;

    vertical-align: middle;

    background-image: url("../img/checkbox-on-gray.svg");
    background-repeat: no-repeat;
}

.checkbox-label input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted;

}

.filter-col1 input:disabled + label::before,
.filter-col2 input:disabled + label::before {
    content: "";

    background-image: url("../img/checkbox-off-gray.svg");
    background-repeat: no-repeat;
}

.filter-col1 input:checked:disabled + label::before,
.filter-col2 input:checked:disabled + label::before {
    content: "";

    background-image: url("../img/checkbox-on-gray.svg");
    background-repeat: no-repeat;
}

.filter-col3 {
    width: 318px;
}

.booking-filter-find {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    width: 133px;
    height: 32px;

    text-transform: uppercase;

    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background: transparent;
}

.booking-filter-find:hover {
    color: #000000;
    background-color: #ffffff;
}

/* ------------------------------*/
/* Arrange control               */
/* ------------------------------*/
.arrange {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    height: 87px;
    padding: 0 72px;

    border-bottom: 1px solid #e5e5e5;
}

.arrange-container {
    display: flex;

    height: 87px;

    align-items: center;
    justify-content: space-between;
}

.arrange-direction li {
    padding-top: 2px;
    padding-right: 1px;
    padding-left: 12px;
}

.arrange-container p {
    margin: 0;
}

.arrange-type-col {
    display: flex;
}

.arrange-type {
    display: flex;
}

.arrange-container-col1 {
    display: flex;

    align-items: center;
}

.arrange ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.arrange-direction {
    display: flex;
}

.arrange-type-col {
    padding-top: 2px;
}

.arrange-type-col p {
    margin: 0;
    padding-right: 40px;
}

.arrange-type li {
    padding-right: 33px;
}

.arrange-found-count {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    padding-right: 47px;
    padding-bottom: 1px;
}

.arrange-type-active {
    text-decoration: none;

    color: #81b3d2;
}

.arrange-type a {
    text-decoration: underline;

    color: rgba(0,0,0,.3);

    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;;
}

.arrange-type a:hover {
    text-decoration: underline;

    color: #81b3d2;

    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}

.arrange-type a:active {
    text-decoration: none;

    color: #000000;
}

.arrow-up,
.arrow-dn {
    fill: #cacaca;
}

.arrow-up:hover,
.arrow-dn:hover {
    fill: #000000;
}

.arrow-up:active,
.arrow-dn:active {
    fill: #81b3d2;
}

.arrow-up-selected,
.arrow-dn-selected {
    fill: #81b3d2;
}

/* ------------------------------*/
/* Hotels List Item              */
/* ------------------------------*/
.hotels {
    margin: 0;
    padding: 0;

    list-style: none;
}

.hotel-details {
    display: flex;

    justify-content: space-between;
}

.hotels-col1 {
    display: flex;
}

.hotels-col11 {
    width: 135px;
    padding-top: 5px;
}

.hotels-col12 {
    display: flex;
    flex-direction: column;

    width: 380px;
    padding-left: 30px;

    justify-content: space-between;
}

.hotels-col2 p,
.hotels-col12 p {
    margin: 0;
}


.hotel-stars img {
    margin-left: 6px;
}


.hotel-links{
    padding-bottom: 10px;
}

.hotels-col2 {
    display: flex;
    flex-direction: column;

    width: 241px;
    padding-bottom: 9px;

    justify-content: space-between;
    align-items: flex-end;
}

.hotel-stars {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
}

.hotel-stars span {
    padding-left: 2px;
}

.hotels li {
    min-height: 151px;
    /*padding: 25px 72px 30px 72px;*/
    padding: 26px 72px 21px 72px;

    border-bottom: 1px solid #e5e5e5;
}

.hotels h3 {
    margin: 0;
}

.hotels h3 a {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    color: #000000;
}

.hotels h3 a:hover {
    color: #81b3d2;
}

.hotels h3 a:active {
    color: rgba(0,0,0,.3);
}

.hotel-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    margin: 0;
    padding-bottom: 8px;

    color: #333333;
}

.hotel-type-title {
    display: inline-block;
    vertical-align: top;

    width: 112px;
}

.hotel-from {
    display: inline-block;
    vertical-align: top;

    width: 112px;
}

.hotel-more-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    display: inline-block;
    vertical-align: top;

    margin-right: 2px;
    padding: 3px 17px 3px 17px;

    color: #ffffff;
    background-color: #81b3d2;
}

.hotel-more-link:hover {
    background-color: #669ec0;
}

.hotel-more-link:active {
    color: rgba(255,255,255,.3);
    background-color: #5496bd;
}

.hotel-book-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    display: inline-block;
    vertical-align: top;

    padding: 3px 17px 3px 17px;

    color: #ffffff;
    background-color: #766357;
}

.hotel-book-link:hover {
    background-color: #604e43;
}

.hotel-book-link:active {
    color: rgba(255,255,255,.3);
    background-color: #503e33;
}

.hotel-rating {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    display: inline-block;
    vertical-align: top;

    padding: 3px 12px 3px 12px;
    margin-bottom: 20px;

    color: #666666;
    background-color: #f2f2f2;
}
