*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    /*height: 100%;*/
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    /*height: 100%;*/
}

a {
    text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.website_wrapper {
    width:1200px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.website_wrapper-inner {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*height: 100%;*/
}
.content_wrapper {
    /*flex: 1 0 auto;*/
    min-height: calc(100vh - 120px);
}

.footer_wrapper {
    /*flex: 0 0 auto;*/
}
/* ------------------------------*/
/* Header navigation             */
/* ------------------------------*/
.site-nav ul{
    list-style: none;
    display: flex;
    line-height: 56px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav_item {
    /*background-color: #bdbbbc;*/

}
.nav_item1 {
    width: 300px;
    padding-left: 71px;
}
.nav_item2 {
    width: 300px;
    padding-left: 12px;
}
.nav_item3 {
    width: 300px;
    padding-right: 17px;
}
.nav_item4 {
    width: 300px;
    padding-right: 72px;
}

.justify_left {
    text-align: left;
}
.justify_right {
    text-align: right;
}
.site-nav a{
    color: #000000;
}
.site-nav a:hover {
    color: #81b3d2;
}
.site-nav a:active {
    color: rgba(0,0,0,0.3);
}
.site-nav-selected {
    color:#766357;
}
.top-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;

}

.page-content h1{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}
/* ------------------------------*/
/* Welcome screen                */
/* ------------------------------*/
.welcome-screen {
    width: 1200px;
    height: 508px;
    margin: 0 auto;
    background-image: url("../img/welcome-polygon.svg"), url("../img/welcome-background.jpg");
    background-position: bottom, 100%;
    background-repeat: no-repeat;
}
.welcome-screen-content {
    text-align: center;
    padding: 76px 0 0 0;
}
.welcome-screen-content img{
    width: 458px;
    height: 352px;
}

/* ------------------------------*/
/* Reasons to visit              */
/* ------------------------------*/
.reasons-to-visit {
    margin:0;
    padding:0;
    position: relative;
    z-index: 2;
}
.reason_text {
    height: 256px;
    width: 400px;
    text-align: center;
}
.reasons-to-visit h2{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color:#333333;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 51px;
}
.reasons-to-visit ul{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    flex-wrap: wrap;
}
.reasons-to-visit h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin:0 auto;
    padding-top: 47px;
    padding-bottom: 24px;
    width: 151px;

}
.reasons-to-visit-bullet{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 20px;
    margin:0 auto;
}
.reasons-to-visit-description{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    max-width: 305px;
    margin: 0 auto;
}
.reasons-to-visit-description2{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    max-width: 261px;
    margin: 0 auto;
}
.reason-image-right,.reason-image-left {
    color:#ffffff;
    background-color:#81b3d2;
    display:flex;
}
.reason-no-image {
    color:#333333;
    background-color:#eeeeee;
}

/* ------------------------------*/
/* Features                      */
/* ------------------------------*/
.features {
    padding-top: 60px;
    position: relative;
    z-index: 2;
}
.features-souvenirs-img {
    margin-top: -5px;
}
.features ul{
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
}
.features li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
}
.features h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color:#000000;
    margin-top: 30px;
    margin-bottom: 10px;
    padding:0;
}
.features p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color:#333333;
    width: 285px;
    margin-bottom: 80px;
}
.features img {
    order: -1;
}

/* ------------------------------*/
/* Booking CTA                   */
/* ------------------------------*/
.booking-CTA {
    text-align: center;
    position:relative;
}
.bg-overlay {
    background-color: #ffffff;
    position:relative;
    z-index: 2;
}
.booking-CTA-header{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0 auto;
    width: 500px;
    padding-top:49px;
}
.booking-CTA-description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    width: 450px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom:47px;
}
.booking-CTA-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
    text-transform: uppercase;
    height: 86px;
    width: 568px;
    border:none;
    position: relative;
    z-index: 2;
}

.booking-CTA-button:hover {
    background-color: #604e43;
}

.booking-CTA-button:active {
    color: rgba(255,255,255,0.3);
    background-color: #503e33;
}
/* ------------------------------*/
/* Map                           */
/* ------------------------------*/

.google_map{
    width: 1200px;
    height: 593px;
    background-color: #bdbbbc;
}
.relative_transparent {
    width:1200px;
    height:100px;
    background-color: rgba(255,255,255,0.9);
    position:absolute;
    bottom:0;
    left:50%;
    margin-left: -600px;
}
/* ------------------------------*/
/* Footer                        */
/* ------------------------------*/
.footer-wrapper{
    position: relative;
    flex: 0 0 auto;
}
.main-footer {
    display:flex;
    height: 120px;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left: -600px;
    background-color: rgba(255,255,255,0.9);
}

.inner-footer {
    display:flex;
    height: 120px;
}

.sedona-news-link {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sedona-news-link a{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}
.sedona-news-link a:hover {
    color: #81b3d2;
}
.sedona-news-link a:active {
    color: rgba(0,0,0,0.3);
}
.social-buttons {
    width: 400px;
    /*background-color: #bdbbbc;*/
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.social-buttons ul{
    list-style: none;
    padding:0;
    display:flex;
    width:150px;
    justify-content: space-between;
    margin: 0 auto;
}
.social-buttons li{
    /*background-color: #81b3d2;*/
}
.social-buttons a{
    height: 46px;
    width: 46px;
    fill: #fff;
    background-color: #81b3d2;
    display: flex;
    justify-content: center;
    align-items:center;
}
.social-buttons a:hover{
    background-color: #669ec0;
    fill: #fff;
}
.social-buttons a:active{
    background-color: #5496bd;
    fill: rgba(255,255,255,0.3);
}

.developer-link span{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}
.developer-link{
    /*fill: #000;*/
    width: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:0;
}
.vertical_align {
    padding-right: 9px;
}

.developer-link a{
    padding-top: 8px;
    fill: #000;
}
.developer-link a:hover{
    fill: #81b3d2;
}
.developer-link a:active{
    fill: #bdbbbc;
}


/* ------------------------------*/
/* Booking Form                  */
/* ------------------------------*/
@keyframes booking-form-show {
    0% { transform: translateY(-400px);}
    100% { transform: translateY(0);}
}

.booking-form {
    display: none;
    width: 568px;
    height: 395px;
    background-color: #fff;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -284px;
    margin-bottom: -395px;
    z-index: 1;
    padding:55px;
    text-align: left;
}
.form-show {
    display: block;
    animation-name: booking-form-show;
    animation-duration: 0.5s;
}
.arrival-date-input {
     display:flex;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 29px;
 }
.arrival-date-input input,
.departure-date-input input{
    position: relative;
    padding-left: 10px;
}
.arrival-date-input input::after,
.departure-date-input input::after {
    content:'';
    position: absolute;
    background-image: url("../img/calendar.svg");
    right: 9px;
    top:50%;
    margin-top:-11px;
    z-index: 100;
    width: 21px;
    height: 22px;
}
.arrival-date-input input::-webkit-calendar-picker-indicator,
.departure-date-input input::-webkit-calendar-picker-indicator {
    width: 21px;
    height: 22px;
    padding:0;
    margin-right: 9px;
    z-index: 101;
    background: transparent;
    color: transparent;
}
.arrival-date-input input::-webkit-calendar-picker-indicator:hover,
.departure-date-input input::-webkit-calendar-picker-indicator:hover {
    position: absolute;
    right: 0;
    top:50%;
    margin-top:-11px;
    background-image: url("../img/calendar-hover.svg");
}

.arrival-date-input input::-webkit-calendar-picker-indicator:active,
.departure-date-input input::-webkit-calendar-picker-indicator:active {
    background-image: url("../img/calendar-click.svg");
}

.arrival-date-input input::-webkit-inner-spin-button,
.departure-date-input input::-webkit-inner-spin-button {
    display: none;
}

.arrival-date-input input::-ms-clear,
.departure-date-input input::-ms-clear {
    display: none;
}

.departure-date-input {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.adults-input {
    width: 229px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.adults-input-description {

}
.adults-input-controls {
    display:flex;
    padding-right: 3px;

}
.adults-input-controls input{
    text-align: center;
}
.children-input-controls input{
    text-align: center;
}
.children-input-description {
    padding-left: 50px;

}
.children-input-controls {
    display:flex;

}
.children-input {
    width: 229px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.count-input {
    display:flex;
    align-items: center;
    padding-bottom: 54px;
}
.booking-form label{
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

}
.booking-form input{
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    background-color: #f2f2f2;
    text-transform: uppercase;
    height: 38px;
    border: 2px solid #f2f2f2;
}

.booking-form input:hover{
    background-color: #ebebeb;
    border-color: #ebebeb;
}

.booking-form input:focus{
    background-color: #ffffff;
    height: 38px;
    width: 346px;
    border: 2px solid #e5e5e5;
    outline: none;
}


.num-sub, .num-add {
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    color: rgba(0,0,0,0.3);
    background-color: #f2f2f2;
    border: none;
    height: 38px;
    width: 38px;
}
.num-sub:hover, .num-add:hover {
    color: #000;
}

.num-sub:active, .num-add:active {
    color: #81b3d2;
}

.booking-form-find{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    height: 58px;
    width: 458px;
    border: none;
}
.booking-form-find:hover{
    background-color: #669ec0;
}
.booking-form-find:active{
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
}

.booking-form-find{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    text-transform: uppercase;
    height: 58px;
    width: 458px;
}

.booking-form input[type=date] {
    width: 346px;

}

.booking-form input[type=date]:focus {
    width: 346px;
}

.booking-form input[type=number] {
    width: 38px;
}

.booking-form input[type=number]:focus {
    width: 38px;
}

.booking-form input[type=number]::-webkit-inner-spin-button {
    display: none;
}

/* ------------------------------*/
/* Booking Filter Form           */
/* ------------------------------*/
.booking-filter-form form{
    background: url("../img/filter-background.jpg") no-repeat;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 27px 72px;
    height: 217px;
}
.filter-wrapper {
    display:flex;
}

.booking-filter-form {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.booking-filter-form h4 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin:0;
    padding-bottom: 24px;
}

/*        */
.filter-range {
    width: 318px;
}

.filter-range-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 9px;
}

.price-controls {
    margin-bottom: 20px;
    font-size: 0;
    width: 318px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 2px;
    position: relative;
    /*vertical-align: center;*/
}

.price-controls::after {
    content:'';
    width: 2px;
    height:22px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    width: 150px;
    padding-top: 5px;
}

.price-controls .min-price {
    padding-left: 65px;
}

.min-price input::-webkit-inner-spin-button,
.max-price input::-webkit-inner-spin-button{
    display: none;
}


.price-controls .max-price {
    padding-left: 62px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
    box-sizing: content-box;
    /*width: 318px;*/
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 86%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 86%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

/*      */

.filter-col1, .filter-col2 {
    width: 255px;
}


.checkbox-label {
    position: relative;
    padding-left: 40px;
    padding-bottom: 25px;
    cursor: pointer;
    display: block;
}

.checkbox-label input[type="checkbox"] + .checkbox-indicator {
     position: absolute;
     top: 0;
     left: 0;
     width: 27px;
     height: 23px;
     margin-right:13px;
     background-image: url("../img/checkbox-off.svg");
     background-repeat: no-repeat;
     vertical-align: middle;
 }

.checkbox-label input[type="checkbox"]:checked + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    margin-right:13px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
}

.checkbox-label input[type="checkbox"]:disabled + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    margin-right:13px;
    background-image: url("../img/checkbox-off-gray.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
}

.checkbox-label input[type="checkbox"]:disabled:checked + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    margin-right:13px;
    background-image: url("../img/checkbox-on-gray.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
}

.checkbox-label input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-col1 input:disabled + label::before, .filter-col2 input:disabled + label::before {
    content: '';
    background-image: url("../img/checkbox-off-gray.svg");
    background-repeat: no-repeat;
}

.filter-col1 input:checked:disabled + label::before, .filter-col2 input:checked:disabled + label::before {
    content: '';
    background-image: url("../img/checkbox-on-gray.svg");
    background-repeat: no-repeat;
}

.filter-col3{
    width:318px;
}

.booking-filter-find {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    width: 133px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
    color: #fff;
}
.booking-filter-find:hover {
    background-color: #fff;
    color: #000000;
}

/* ------------------------------*/
/* Arrange control               */
/* ------------------------------*/
.arrange {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    height: 87px;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 72px;
}
.arrange-container {
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*text-align: center;*/
}

.arrange-direction li{
    padding-left: 12px;
    padding-right: 1px;
    padding-top: 2px;
}
.arrange-container p {
    margin:0;
}
.arrange-type-col{
    display: flex;
}

.arrange-type {
    display: flex;
    /*align-items: center;*/
}
.arrange-container-col1 {
    display: flex;
    align-items: center;
}
.arrange ul {
    list-style: none;
    margin:0;
    padding:0;
}
.arrange-direction{
    display: flex;
}
.arrange-type-col {
    padding-top: 2px;
}
.arrange-type-col p{
    margin: 0;
    padding-right: 40px;
}
.arrange-type li{
    padding-right: 33px;
}
.arrange-found-count {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding-right: 47px;
    padding-bottom: 1px;
}

.arrange-type-active{
    color: #81b3d2;
    text-decoration: none;
}
.arrange-type a{
    color: rgba(0,0,0,0.3);;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}
.arrange-type a:hover{
    color: #81b3d2;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #81b3d2;
}
.arrange-type a:active{
    color: #000000;
    text-decoration: none;
}

.arrow_up, .arrow_dn {
    fill: #cacaca;
}
.arrow_up:hover, .arrow_dn:hover {
    fill: #000000;
}
.arrow_up:active, .arrow_dn:active {
    fill: #81b3d2;
}
.arrow_up_selected, .arrow_dn_selected {
    fill: #81b3d2;
}

/* ------------------------------*/
/* Hotels List Item              */
/* ------------------------------*/
.hotels{
    list-style: none;
    margin:0;
    padding:0;
}
.hotel-details {
    display: flex;
    justify-content: space-between;
}
.hotels-col1 {
    display: flex;
}

.hotels-col11 {
    width: 135px;
    padding-top: 5px;
}

.hotels-col12 {
    padding-left: 30px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotels-col2 p, .hotels-col12 p {
    margin:0;
}
.hotels-col2 {
    width: 241px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.hotel-stars {
    padding-top:3px;
}
.hotel-stars span{
    padding-left: 2px;
}
.hotels li{
    height: 151px;
    border-bottom: 1px solid #e5e5e5;
    /*padding: 30px 72px;*/
    padding: 25px 72px 30px 72px;
}
.hotels h3{
    margin:0;
}
.hotels h3 a{

    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
}
.hotels h3 a:hover{
    color: #81b3d2;
}
.hotels h3 a:active{
    color: rgba(0,0,0,0.3);
}
.hotel-type {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    margin: 0;
    padding-bottom: 8px;
}
.hotel-type-title {
    display: inline-block;
    width: 112px;
}
.hotel-from {
    /*padding-left: 35px;*/
}


.hotel-more-link{
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    padding: 3px 17px 3px 17px;
    margin-right: 2px;
    display: inline-block;
}
.hotel-more-link:hover{
    background-color: #669ec0;
}
.hotel-more-link:active{
    color: rgba(255,255,255,0.3);
    background-color: #5496bd;
}
.hotel-book-link{
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
    padding: 3px 17px 3px 17px;
    display: inline-block;
}
.hotel-book-link:hover{
    background-color: #604e43;
}
.hotel-book-link:active{
    color: rgba(255,255,255,0.3);
    background-color: #503e33;
}
.hotel-rating {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666;
    background-color: #f2f2f2;
    padding: 3px 12px 3px 12px;
    display: inline-block;
}